
      <div class="container-fluid subnavibar">
        <div class="row subnavibar-row">
          <div class="col-sm-4 col-md-3">
            <div class="info-parking">
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-6">
            <div class="search-parking">
            </div>
            <div class="register-parking">
            </div>
          </div>
        </div>
        <p>&copy; twopark 2016</p>
      </div>
    </div>

    <div class="container-fluid">

      <div class="main">

				<div id="map"></div>
				