			<div class="container-fluid subnavibar">
			  <div class="row subnavibar-row">
			    <div class="col-sm-4 col-md-3">
			      <div class="info-parking">
			      </div>
			    </div>
			  </div>
		  </div>
		</div>

    <div class="container-fluid">

      <div class="main">

				<div id="map"></div>


