body, html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #eee;
}

main {
	position: relative;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}



/* if mobil map => width: 80%, margin: 0 10% */

.navbar {
	margin-bottom: 0; /* overwrite bootstrap */
	background-color: transparent;
	border: none; /* overwrite bootstrap */
}

.navibar {
	background-color: #00b369;
	opacity: 0.85;
	color: white;
}


.navbar-brand {
	margin-right: 25px;
	padding-top: 22px;
}

.logo-two, .logo-park {
	font-size: 2.6em;
	font-weight: bold;
	text-shadow: 3px 2px 0 #027e4a;
}

.logo-two {
	color: white;
}

.logo-park {
/*	color: #FFEA9E; */
	color: #ddd;
}

.opac {
	opacity: 1;
}

.navibar-user {
	padding: 10px;
}

.subnavibar {
}

.subnavibar-row {
	margin-right: 0;
}

.info-parking, .search-parking, .register-parking  {
	height: 30px;
	background-color: #027e4a;
	opacity: 0.75;
	width: 100%;
	border-radius: 5px;
	margin: 6px;
}

.container-fluid {
	padding: 0; /* overwrite bootstrap */
}

.alert {
	margin-top: 15px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
