@import url(https://fonts.googleapis.com/css?family=Dosis:700&subset=latin-ext);

body, html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #eee;
}

main {
	position: relative;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.navbar {
	margin-bottom: 0; /* overwrite bootstrap */
	background-color: transparent;
	border: none; /* overwrite bootstrap */
}

.navibar {
/*	background-color: #00b369;*/
	background-color: rgba(0,179,105,0.85);
	color: white;
	border-bottom: solid 2px rgba(0,179,105,0.9);
}


.navbar-brand {
	margin-right: 25px;
	padding-top: 24px;
}

.logo-two, .logo-park {
	font-size: 3em;
	font-weight: bold;
	text-shadow: 3px 2px 0 #027e4a;
}

.logo-two {
	font-family: 'Dosis', sans-serif;
	color: white;
	font-size: 3.3em;
	letter-spacing: 0.01em;
}

.logo-park {
/*	color: #FFEA9E; */
	color: #ddd;
}

.container-fluid {
	padding: 0; /* overwrite bootstrap */
}

.navibar-user {
	padding: 10px 10px 8px;
	font-size: 16px;
	font-weight: bold;
}

.user-logged-in, .hint-logged-out {
}

.navibar-user-links a {
	color: #ddd;
}

.alert {
	margin-top: 12px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.subnavibar {
	border: none; /* overwrite bootstrap */
	background-color: rgba(255,255,255,0.3);
}

.subnavibar-row {
	padding-right: 15px;
}

.info-parking, .search-parking, .register-parking  {
	border-radius: 5px;
	margin: 8px 6px 2px 6px;
	color: white;
}

.info-parking {
	background-color: rgba(2,126,74,0.75);
	width: 100%;
	padding: 8px 8px 4px 8px;
	display: none;
	border: solid 1px rgba(2,126,74,0.8);
}

#toggleInfo p {
	margin: 0;
}

.address-info {
	font-style: italic;
}

.register-parking {
	padding: 10px 20px 12px 20px;
	background-color: rgba(255,234,158,0.75);
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	display: none;
	border: solid 1px rgba(150,150,150,0.35);
}

.search-parking {
	background-color: rgba(2,126,74,0.75);
	width: 100%;
	padding: 8px 4px 4px 8px;
	display: none;
	border: solid 1px rgba(2,126,74,0.8);
}

.register-parking a {
	font-size: 20px;
	font-weight: bold;
	color: #777;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.register-parking a:hover {
	text-decoration: underline;
}

.parking-title {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 6px;
}

.parking-price, .parking-hours {
	font-size: 18px;
}

.parking-price {
	margin: 0;
}

.parking-hours {
	margin: 0 0 8px;
}
.info-parking hr {
	margin: 0 0 4px 0;
}

.search-parking h3 {
	font-size: 20px;
	margin: 0 0 6px;
	width: 100%;
	text-align: center;
}

.search-parking-schedule {
	list-style-type: none;
	padding: 0;
}

.search-parking-headers {
	font-style: italic;
	margin-bottom: 2px;
}

.search-parking-details {
	margin-bottom: 2px;
}

.header-day {
	display: inline-block;
	width: 60px;
	text-align: center;
}
.header-de {
	display: inline-block;
	width: 65px;
	text-align: center;
}
.header-slash {
	display: inline-block;
	width: 10px;
	text-align: center;
}
.header-hasta {
	display: inline-block;
	width: 65px;
	text-align: center;
}
.header-start-hour {
	display: inline-block;
	margin-left: 63px;
	width: 35px;
	text-align: center;
}
.header-start-minutes {
	display: inline-block;
	width: 35px;
	text-align: center;
}
.header-end-hour {
	display: inline-block;
	width: 35px;
	text-align: center;
}
.header-end-minutes {
	display: inline-block;
	width: 35px;
	text-align: center;
}

.search-parking-details input {
	color: #444;
	width: 35px;
	border: none;
}

.lunes, .martes, .miercoles, .jueves, .viernes, .sabado, .domingo {
	display: inline-block;
	width: 60px;
} 

.wrap-btn {
	width: 65px;
	margin: 2px auto 1px auto;
}

.wrap-search {
	margin: 0 auto 0 auto;
	width: 216px;
}

.invitation {
	background-color: rgba(255,234,158,0.75);
	border: solid 1px rgba(150,150,150,0.35);
	width: 100%;
	border-radius: 5px;
	margin: 8px 6px 2px 6px;
	padding: 6px 6px 2px 6px;
	display: none;
}

.invitation-title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #333;
}

.invitation-links {
	text-align: center;
	font-size: 24px;
}

.schedule-title {
	font-weight: bold;
}

.schedule-details {
	line-height: 0.7em;
}

.register-form {
	margin: 20px 0 0;
	padding: 30px;
	border-radius: 10px;
	background-color: rgba(50,50,50,0.1);
}

.register-title {
	margin: 30px 0 0;
}

.register-form label {
	min-width: 180px;
	vertical-align: top;
	margin-bottom: 12px;
}


.register-back {
	margin: 10px 0 10px;
}

.register-schedule-title {
	margin-top: 30px;
	text-decoration: underline;
}

.register-schedule-instructions {
	margin: 15px 0 20px;
	font-size: 18px;
}

#schedule_day,
.table-schedule .day-element {
	margin: 0 3px 0 3px;
	min-height: 30px;
	text-align: center;
}

#schedule_start_hour,
#schedule_start_minutes,
#schedule_end_hour,
#schedule_end_minutes,
.table-schedule .time-element {
	margin: 0 3px 0 3px;
	width: 80px;
	min-height: 30px;
	text-align: center;
}

.register-schedule-button-back {
	margin: 20px 0 0;
}

.register-schedule-button-back a {
	color: #444;
}

.register-schedule-button-back a:hover {
	text-decoration: none;
}